.table-border-none {
	border-right: none;
	border-left: none;;
	border-top: none;
}

.div-first{
	margin:auto; 
	width:58%;
}
.div-second{
	margin-right:0px;
}

.div-third{
	border:0px;
}

.button-login-height{
	height:77px;
}