.div-content-wrapper{
	margin-top: 50px;
}

.div-portfolio-full-img{
	text-align: center;
}

.div-typography-heading{
	font-size:20px;
}

.button-booking-complete-btn{
	 display: inline-block; 
	 margin-bottom:50px;
}