.table-a th {
	font-size: 15px;
} 

.table-a-marginBottom{
	margin-bottom: 25px;	
}

/* .warningBlock {
	margin-left:20px; 
	color:red; 
	font-weight:bold;
} */

.table-warning-Message {
	border-right: none !important;
	border-left: none !important;
	border-top: none !important;
} 

/* .div-width-half{
	width:100%;
}

.div-width-full{
	width:100%;
} */

.selectBox-custom{
	width:100% !important;	
}

.selectBox-Div{
	margin:0% 25%;
}