
.table-border-none {
	border-right: none;
	border-left: none;;
	border-top: none;
}

.table-none{
	border-bottom: none !important;
	background: none !important;
}


.oauth_button{
	padding:10px;
} 
.button-login-height{
	height:100px;
}

/*width가 800이상일 때 아래로 변경함*/
@media (min-width:800px) { 
	.table-a{
		width: 65%;
		margin:auto;
	}
	.table-a-marginBottom{
	margin-bottom: 25px;	
	}
	
}

/*width가 800이하일 때 아래로 변경함*/
@media (max-width:800px) { 
	.button-login-height{
		height:100px;
		width: 100%;
	}
}